[submodule "third_party/singleapplication"]
	path = third_party/singleapplication
	url = https://github.com/itay-grudev/SingleApplication.git
[submodule "third_party/QtFindReplaceDialog"]
	path = third_party/QtFindReplaceDialog
	url = https://github.com/cpeditor/QtFindReplaceDialog
[submodule "third_party/lsp-cpp"]
	path = third_party/lsp-cpp
	url = https://github.com/cpeditor/lsp-cpp
[submodule "third_party/testlib"]
	path = third_party/testlib
	url = https://github.com/MikeMirzayanov/testlib
[submodule "third_party/extra-cmake-modules"]
	path = third_party/extra-cmake-modules
	url = https://github.com/KDE/extra-cmake-modules
[submodule "third_party/syntax-highlighting"]
	path = third_party/syntax-highlighting
	url = https://github.com/KDE/syntax-highlighting
[submodule "third_party/qhttp"]
	path = third_party/qhttp
	url = https://github.com/cpeditor/qhttp
