[Desktop Entry]
Type=Application
Name=CP Editor
Comment=The Editor for Competitive Programming
Exec=cpeditor
Icon=cpeditor-icon
Categories=Development;
