pkgbase = cpeditor-git
	pkgdesc = The editor for competitive programming
	pkgver = VERSION
	pkgrel = 1
	url = https://github.com/cpeditor/cpeditor
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = git
	makedepends = python3
	depends = qt5-base
	conflicts = cpeditor
	source = git://github.com/cpeditor/cpeditor.git
	source = git://github.com/cpeditor/QCodeEditor.git
	source = git://github.com/cpeditor/QtFindReplaceDialog.git
	source = git://github.com/cpeditor/lsp-cpp.git
	source = git://github.com/itay-grudev/singleapplication.git
	source = git://github.com/MikeMirzayanov/testlib.git
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP

pkgname = cpeditor-git
