pkgbase = cpeditor
	pkgdesc = The editor for competitive programming
	pkgver = @PROJECT_VERSION@
	pkgrel = 1
	url = https://github.com/cpeditor/cpeditor
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = python3
	makedepends = qt5-tools
	depends = qt5-base
	optdepends = cf-tool: submit to Codeforces
	optdepends = clang: C++ format and language server
	optdepends = java-environment: compile Java
	optdepends = java-runtime: execute Java
	optdepends = python: execute Python
	conflicts = cpeditor-git
	source = https://github.com/cpeditor/cpeditor/releases/download/@PROJECT_VERSION@/cpeditor-@PROJECT_VERSION@-full-source.tar.gz
	sha256sums = SKIP

pkgname = cpeditor

