pkgbase = cpeditor-git
	pkgdesc = The editor for competitive programming
	pkgver = @PROJECT_VERSION@
	pkgrel = 1
	url = https://github.com/cpeditor/cpeditor
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = python3
	makedepends = qt5-tools
	depends = qt5-base>=5.15.0
	optdepends = cf-tool: submit to Codeforces support
	optdepends = clang: C++ format and language server support
	optdepends = jdk-openjdk: compile Java support
	optdepends = jre-openjdk: execute Java support
	optdepends = python: execute Python support
	provides = cpeditor
	conflicts = cpeditor
	source = git://github.com/cpeditor/cpeditor.git
	source = git://github.com/cpeditor/QCodeEditor.git
	source = git://github.com/cpeditor/QtFindReplaceDialog.git
	source = git://github.com/cpeditor/lsp-cpp.git
	source = git://github.com/itay-grudev/singleapplication.git
	source = git://github.com/MikeMirzayanov/testlib.git
	source = git://github.com/cpeditor/qhttp.git
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP

pkgname = cpeditor-git

