name: "Check translations are up to date"

on:
  - push
  - pull_request

env:
  QT_VERSION: 5.15.2

jobs:
  check-translations:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Set up Qt environment
        uses: jurplel/install-qt-action@v4
        with:
          cache: true
          version: ${{ env.QT_VERSION }}

      - name: "[Unix] Install extra-cmake-modules"
        run: |
          cd third_party/extra-cmake-modules
          mkdir build
          cd build &&
            cmake .. -DBUILD_HTML_DOCS=OFF -DBUILD_MAN_DOCS=OFF -DBUILD_QTHELP_DOCS=OFF -DBUILD_TESTING=OFF &&
            cmake --build . --parallel $(nproc) &&
            sudo cmake --build . --target install

      - name: "[Unix] Install ksyntax-highlighting"
        run: |
          cd third_party/syntax-highlighting
          mkdir build
          cd build &&
            cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_HTML_DOCS=OFF -DBUILD_MAN_DOCS=OFF -DBUILD_QTHELP_DOCS=OFF -DBUILD_TESTING=OFF 
            cmake --build . --parallel $(nproc) &&
            sudo cmake --build . --target install

      - name: Build
        run: |
          cmake -B build -S . -D CMAKE_BUILD_TYPE=Release
          cmake --build build -j4

      - name: Check translations are up to date
        run: |
          tools/updateTranslation.sh
          git diff --exit-code HEAD
