name: "Check Clang Format"

on: [push, pull_request]

jobs:
  format:
    name: "Check Clang Format"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: "Install clang-format-9"
        run: |
          sudo apt-get update
          sudo apt-get install clang-format-9
      - name: "Format Codes"
        run: clang-format-9 -i src/*.cpp src/*/*.cpp src/*.hpp src/*/*.hpp
      - name: Check diff
        run: git diff --exit-code HEAD
      - name: Create Pull Request
        if: failure()
        uses: peter-evans/create-pull-request@v3.5.1
        with:
          commit-message: "style: format codes"
          title: "style: format codes for ${{ github.actor }} on ${{ github.ref }}"
          labels: "style"
          assignees: "${{ github.actor }}"
          reviewers: "${{ github.actor }}"
          branch: "auto-pr/clang-format/${{ github.ref }}"
