name: "Check translations are up to date"

on:
  - push
  - pull_request

env:
  QT_VERSION: 5.15.2

jobs:
  check-translations:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Set up Qt environment
        uses: jurplel/install-qt-action@v3
        with:
          cache: true
          version: ${{ env.QT_VERSION }}

      - name: "[Linux] Install ksyntax-highlighting"
        run: |
          sudo apt install -y libkf5syntaxhighlighting-dev

      - name: Build
        run: |
          cmake -B build -S . -D CMAKE_BUILD_TYPE=Release
          cmake --build build -j4

      - name: Check translations are up to date
        run: |
          tools/updateTranslation.sh
          git diff --exit-code HEAD
