name: "Update AUR"

on:
  push:
    branches:
      - master
    paths-ignore:
      - ".github/**"
      - "!.github/workflows/push_aur.yml"
      - "**.md"
      - ".all-contributorsrc"
      - ".gitignore"

jobs:
  aur:
    name: "Update AUR"
    runs-on: ubuntu-latest
    if: github.repository_owner == 'cpeditor'

    steps:
      - uses: actions/checkout@v5
        with:
          ref: master
          fetch-depth: 0

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          name: id_rsa
          known_hosts: ${{ secrets.KNOWN_HOST }}

      - name: Fetch AUR Remote
        run: git clone ssh://aur@aur.archlinux.org/cpeditor-git.git

      - name: Update files
        id: update-files
        run: |
          git fetch --tags
          VERSION=$(git describe --long --tags --abbrev=8 | sed 's/\([^-]*-g\)/r\1/;s/-/./g')
          echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"
          cp dist/aur/git/PKGBUILD cpeditor-git
          sed -i "s/@PROJECT_VERSION@/$VERSION/g" cpeditor-git/PKGBUILD

      - name: Check PKGBUILD
        uses: ouuan/pkgbuild-action@master
        with:
          path: cpeditor-git

      - name: Publish to AUR
        run: |
          cd cpeditor-git
          git config --global user.email "ashar786khan@gmail.com"
          git config --global user.name "coder3101"
          git diff --quiet HEAD || git commit -am "Update from CI: ${{ steps.update-files.outputs.VERSION }}"
          git push -u origin master
