name: "Update AUR"

on:
  push:
    branches:
      - master
    paths-ignore:
      - ".github/**"
      - "**.md"
      - ".all-contributorsrc"
      - ".gitignore"

jobs:
  aur:
    name: "Update AUR"
    runs-on: ubuntu-latest
    if: github.repository_owner == 'cpeditor'

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          name: id_rsa
          known_hosts: ${{ secrets.KNOWN_HOST }}

      - name: Fetch AUR Remote
        run: git clone ssh://aur@aur.archlinux.org/cpeditor-git.git

      - name: Update files
        id: update-files
        run: |
          git fetch --tags
          VERSION=$(git describe --long --tags --abbrev=8 | sed 's/\([^-]*-g\)/r\1/;s/-/./g')
          echo ::set-output name=VERSION::$VERSION
          cp .ci/aur/git/PKGBUILD cpeditor-git
          cp .ci/aur/git/.SRCINFO cpeditor-git
          sed -i "s/@PROJECT_VERSION@/$VERSION/" cpeditor-git/PKGBUILD cpeditor-git/.SRCINFO

      - name: Check PKGBUILD
        uses: 2m/arch-pkgbuild-builder@master
        with:
          target: "pkgbuild"
          pkgname: "cpeditor-git"

      - name: "Check .SRCINFO"
        uses: 2m/arch-pkgbuild-builder@master
        with:
          target: "srcinfo"
          pkgname: "cpeditor-git"

      - name: Publish to AUR
        run: |
          cd cpeditor-git
          git config --global user.email "ashar786khan@gmail.com"
          git config --global user.name "coder3101"
          git commit -am "Update from CI: ${{ steps.update-files.outputs.VERSION }}"
          git push -u origin master
