name: "Release Snap package"

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      version:
        description: "Version number to release"
        required: true

jobs:
  snap:
    name: "Release Snap package"
    runs-on: ubuntu-latest
    if: github.repository_owner == 'cpeditor'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/checkout@v6
        with:
          repository: KDE/extra-cmake-modules
          path: third_party/extra-cmake-modules
          ref: kf5

      - uses: actions/checkout@v6
        with:
          repository: KDE/syntax-highlighting
          path: third_party/syntax-highlighting
          ref: kf5

      - name: Get version
        id: get_version
        run: |
          case "${{ github.event_name }}" in
            release) VERSION=${{ github.event.release.tag_name }};;
            workflow_dispatch) VERSION=${{ github.event.inputs.version }};;
          esac

          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          STABLE_VERSION=$(cat dist/STABLE_VERSION)
          if [[ $VERSION == "$STABLE_VERSION"* ]]; then
            echo "ISSTABLE=true" >> "$GITHUB_OUTPUT"
          else
            echo "ISSTABLE=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Fetch release and prepare
        if: steps.get_version.outputs.ISSTABLE == 'true'
        run: |
          wget -c https://github.com/${{ github.repository }}/releases/download/${{ steps.get_version.outputs.version }}/cpeditor-${{ steps.get_version.outputs.version }}-full-source.tar.gz
          tar -xvf cpeditor-${{ steps.get_version.outputs.version }}-full-source.tar.gz
          cd cpeditor-${{ steps.get_version.outputs.version }}-full-source
          cp dist/snap/snapcraft.yaml snapcraft.yaml

      - uses: snapcore/action-build@v1
        if: steps.get_version.outputs.ISSTABLE == 'true'
        id: build
        with:
          path: cpeditor-${{ steps.get_version.outputs.version }}-full-source

      - uses: snapcore/action-publish@v1
        if: steps.get_version.outputs.ISSTABLE == 'true'
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.STORE_LOGIN }}
        with:
          snap: ${{ steps.build.outputs.snap }}
          release: stable
